* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Cuprum, PT Sans; /* Имя шрифта */
    src: 
    url(fonts/Cuprum.woff) format("woff")
    url(fonts/Cuprum.woff2) format("woff2"),
    url(fonts/ptsans.woff) format("woff")
    url(fonts/ptsans.woff2) format("woff2");/* Путь к файлу со шрифтом */
}

